<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- To be used at ServerClientService -->
    <add key="user" value=""/>
    <add key="password" value=""/>

    <!-- Example: ftp:// -->
    <add key="protocol" value=""/>

    <!-- If is ipv6 needs brackets [ipv6] -->
    <add key="server" value=""/>

    <!-- :21 -->
    <add key="port" value=""/>
  
  </appSettings>
</configuration>